body {
    background-color: black;
    color: white;
}

#battleGrid {
    display: grid;
    background-color: grey;
    padding: 3px;
    gap : 3px;
}

.cell{
    background-color: black;
    color: darkgray;
    padding: 10px;
    grid-row-start: 1;
    text-align: center;
}